<!doctype html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apte4ka Admin Panel</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="site-header">
    <h1 class="site-logo"><a href="/" class="logo-link">Apte4ka</a></h1>
    <nav class="site-nav">
        <a sec:authorize="isAnonymous()" href="/login" class="nav-link">Войти</a>
        <a sec:authorize="isAuthenticated()" href="/logout" class="nav-link">Выйти</a>
        <a sec:authorize="isAuthenticated()" href="/admin" class="nav-link">Панель администратора</a>
        <a href="/cart" class="nav-link">Корзина</a>
    </nav>
</header>
<hr class="divider"/>
<main class="site-main">
    <ol class="item-list" data-aos="fade-up">
        <li th:each="item : ${items}" class="item-card" data-aos="fade-up">
            <img th:src="@{{pathToImage}(pathToImage=${item.pathToImage})}"
                 src="/img/default-item.png"
                 alt="Фотография товара" class="item-image">
            <h4 th:text="${item.name}" class="item-name">Название</h4>
            <a th:href="@{/admin/items/update/{itemId}(itemId=${item.id})}" class="edit-item-btn">Редактировать</a>
        </li>
    </ol>
</main>

</body>
</html>
